
<h3>All Recipes</h3>

<% if @recipes.any?() %>
<% @recipes.each() do |recipe| %>
  <ul>
      <li><a href='/recipe_ready/<%=recipe.id()%>'> <%=recipe.recipe_name()%></a></li>
  </ul>
    <%end%>
<%else %>
  <p> You have no recipes!</p>
<%end%>
