<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      this is the first column

    </div> <!-- span 6 -->

    <div class="span6">
      this is the second column
    </div> <!--span6-->
  </div> <!--row-fluid-->
</div>
