<h3>falling leaves hide the path so quietly  |  october 2015</h3>
~John Bailey, "Autumn," a haiku year, 2001, as posted on oldgreypoet.com
<br /><br /><br />


<div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="/menus_apples.jpg" width="350">
          <a href="#">&nbsp; &nbsp; &nbsp;</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h4>Fall Apples!</h4>
          <ul>
            <li>Rustic Apple Tart</li>
            <li>Butternut Squash and Apple Soup</li>
            <li>Caramel Apples with Popcorn</li>
            <li>Pink Applesauce</li>
            <li>Pork with Apples and Calvados</li>
          </ul>
        </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="/menus_falldinner.jpg" width="350">
        <a href="#">&nbsp; &nbsp; &nbsp;</a>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h4>Flavors of Fall</h4>
        <ul>
          <li>Perfect Storm Cocktail</li>
          <li>Pumpkin-Chestnut Soup</li>
          <li>Savory Autumn Leaf Pies</li>
          <li>Crunchy Green Bean Salad</li>
          <li>Pork Loin with Apple-Cornbread Stuffing</li>
          <li>Molasses Spice Cake</li>
          <li>Sugared Seckel Pears</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="/meat_spicysausage.jpg" width="350">
        <a href="#">&nbsp; &nbsp; &nbsp;</a>
      </div>
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

      </div>
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h4>Tailgate!</h4>
        <ul>
          <li>Michaels Road Trip Mix</li>
          <li>Grilled Sausage with Spicy Sauce</li>
          <li>Sweet-Hot Cabbage Relish</li>
          <li>Tangy Corn Relish</li>
          <li>Purple Potato Salad</li>
          <li>Grilled Pineapple Sundaes</li>
          <li>Micro Brews</li>
        </ul>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="/soup_smokysplitpea.jpg" width="350">
          <a href="#">&nbsp; &nbsp; &nbsp;</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h4>After the Pumpkin Patch</h4>
          <ul>
            <li>Hot Spiced Apple Wine</li>
            <li>Smoky Split Pea and Root Vegetable Soup</li>
            <li>Cheddar-Dill Scones</li>
            <li>Maple Cheesecake with Roasted Pears</li>
          </ul>
        </div>
      </div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="/bread_fallmuffins.jpg" width="350">
          <a href="#">&nbsp; &nbsp; &nbsp;</a>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">

        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
          <h4>Fall Muffins and Fruit Butters</h4>
          <ul>
            <li>Rustic Apple Tart</li>
            <li>Butternut Squash and Apple Soup</li>
            <li>Caramel Apples with Popcorn</li>
            <li>Pink Applesauce</li>
            <li>Pork with Apples and Calvados</li>
          </ul>
        </div>
    </div>
